{% extends 'layout.html.twig' %}
{% block title %}{{ ('parent') }}Résultat du jeu{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/game_result.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Open+Sans" rel="stylesheet"> {% endblock %}
{% block body %}
    <div class="container-fluid">
        <h2>Tu as gagné !</h2>
        <div class="row">
        <table class="col-6">
            <tr>
                <th>ROUND</th>
                <th>JOUEUR 1</th>
                <th>JOUEUR 2</th>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td6</td>
                <td></td>
            </tr>
            <tr>
                <td>TOTAL</td>
                <td></td>
                <td></td>
            </tr>
        </table>
        </div>
    </div>
{% endblock %}