{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/roundresult.css">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-right">Tour n° : {{ round }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-5">Joueur 1 bat joueur 2</h1>
            </div>
        </div>


        <table class="table mb-5">
            <thead>
            <tr>
                <th>Joueur 1</th>
                <th>Joueur 2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row">90</td>
                <td>70</td>
            </tr>
            </tbody>
        </table>
            <button type="submit"
                    class="btn btn-default btn-lg btn-block">Round suivant
            </button>
        </div>
{% endblock %}