{% extends 'layout.html.twig' %}

{% block title %}Choisi ton équipe{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/public/assets/css/team.css">
{% endblock %}

{% block body %}
    <h1>Coucou</h1>
{% endblock %}